/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url("https://fonts.googleapis.com/css?family=Lobster|Raleway:500");
$base-font: "Raleway", "Helvetica", "sans-serif";
$header-font: "Lobster", "Helvetica", "sans-serif";

// Local fonts (uncomment following lines)
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// Font-size and line-height
$base-size: 24px;
$base-height: 1.2;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$brand-color: #FC5AB8;

$red: #FC5AB8;
$blue: #89cff0;
$yellow: #F3F315;
$orange: #FF8300;
$green: #2CFC0E;

// Gray scale
$gray-darker:  lighten(#000, 13.5%); // #222
$gray-dark:    lighten(#000, 20%);   // #333
$gray:         lighten(#000, 33.5%); // #555
$gray-light:   lighten(#000, 46.7%); // #777
$gray-lighter: lighten(#000, 93.5%); // #eee
