<ul class="list-inline text-center">
    <% ["anne.jpg", "seb.jpg", "romain.jpeg"].each do |member| %>
    <li>
      <%= image_tag "#{member}", class: "img-circle" %>
      <h3><%= member.capitalize %></h3>
    </li>
  <% end %>
</ul>
